

*{
    color: white;
    text-shadow: 0px 0px 6px black;
}

.background-img{
    position: absolute;
    height: 1800px;
    overflow: hidden;
}

.bg-connect{
    height: 3px;
    background-image: linear-gradient(to bottom, gray 0%, rgb(66, 65, 65) 50%);
}

.bg-connect-grey-green{
    height: 3px;
    background-image: linear-gradient(to bottom, gray 0%, rgb(45, 80, 45) 90%);
}

.bg-connect-green-black{
    height: 3px;
    background-image: linear-gradient(to bottom, rgb(19, 44, 37) 0%, black 90%);
}

.bg-connect-black-gray{
    height: 3px;
    background-image: linear-gradient(to bottom, black 0%,gray 50%);
}

.content{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 90%);
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.bio-left ,.bio-left p{
    color: gray;
    text-shadow: 0px 0px px white;
    text-align: right;
}

.bio-right,.bio-right p{
    color: gray;
}

.our-team img{
    object-fit: cover;
}

.selected-work{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgb(68, 97, 97) 90%);
    border-left: 1px solid white;
    box-shadow: 0px 0px 20px black;
}

.work-button button{
    width: 140px;
}

.contact-parent{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgb(68, 97, 97) 90%);
    border-left: 1px solid white;
    box-shadow: 15px 15px 30px black;
}

.contact div{
    box-shadow: 0px 0px 5px white;
}

.contact div>*{
    color: gray;
}


@media screen and (max-width: 400px){
    *{
        font-size: 10px;
    }

    .our-team img{
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 575px){
    .background-img{
        position: fixed;
    }
}

@media screen and (min-width: 400px){
    *{
        font-size: 13px;
    }
    .our-team img{
        width: 70px;
        height: 70px;
    }
}

@media screen and (min-width: 991px){
    *{
        font-size: 13px;
    }
    .our-team img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}